@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

html {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background-color: #24252A;
}

body{
    padding-top:70px ;
}

li,a,button{
    font-family:'Montserrat', Arial;
    font-weight: 500;
    font-size: 16px;
    color:#edf0f1;
    text-decoration:none;
}

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:30px 10%;
    position: fixed;
    inset: 0px 0px 700px 0px;
    box-shadow: 2px 2px 10px #585858;

}
.Header-Logo{
    Height: 55px;
    width:294PX;
    cursor:pointer;
    transform: translateX(-110px);
    
}

.nav-links{
    list-style: none; 
}

.nav-links li{
    display:inline-block;
    padding:0px 20px;
   
}
.nav-links  li a{
    transition: color 0.3s ease 0s;
}
.nav-links  li a:hover{
    color: #0088a9;
}
 .cta{
    padding:9px 20px;
    background-color: rgba(0, 136, 169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    transform:translateX(100px);
}
.cta:hover{
    background-color: rgba(0, 136, 169,0.8);
}
.cta1{
    padding:9px 20px;
    background-color: rgba(0, 136, 169,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    transform:translateX(160px);

}
.cta1:hover{
    background-color: rgba(0, 136, 169,0.8);
}


nav ul li :nth-child(1) {
    margin-right: 20px;
}
nav ul li :nth-child(2) {
    margin-right: 20px;
}
